body {
	background-color: #d17076;
}
.jumbotron {
	background-color: #e2dad4;
	margin-top: 10px;
}
h1{
	font-size: 55px;
	font-family: 'Berkshire Swash', cursive;
	color:#22323f;
}
h2{
	font-family: 'Berkshire Swash', cursive;

}
.instructions {
	color: #000c14;
	font-size: 16px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.guessthis {
	background-color: #e2dad4;
	color: #22323f;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.value {
	font-size: 22px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.game-progress {
	text-align: center;
	background-color: #7a2a2c;
	color: #e2dad4;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	margin-left: 5px;
	margin-top:15px;
}
#status {
	font-size: 14px;
}
.crystalImg {
	margin-left: 15px;
	width: 80px;
}

.totalscore {
	text-align:center;
	background-color:#22323f;
	color: #e2dad4;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	margin-top:10px;
	padding: 10px;
}
.circle {
	border-radius: 50%;
	position:relative;
	height: auto;
}

